<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- Display the dropdown list at here -->
    <%- droplist %>
    <!-- Display the products table at here -->
    <%- products_table %>
    <a href="/logout">Logout</a>
  </body>
</html>
